.information-aside {
  float: left;
  margin-top: 8rem;
  text-decoration: none;
  font-family: $font-family-primary;
  width: 27%;

  img {
    width: 55px;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }

  h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

}
