
.screech-feed {
    float: left;
    margin-top: 8rem;
    width: 70%;

    .post-screech-feed-top {}
    background: $color-greenTwo;
    color: $color-greenOne;
    img {
        width: 40px;
        border-radius: .5rem;
        margin-top: 1rem
      }
    input {
      background: $color-fifth;
      color: $color-greenOne;
      width: 70%;
      height: 2rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      border-radius: .3rem;
      padding-left: 1rem;
      border: none;
    }

    button {
        display: inline-block;
        background: $color-greenOne;
        font-size: 1rem;
        font-family: $font-family-primary;
        color: $color-greenTwo;
        padding: 1rem 0.2rem;
        border: none;
    }

    .screech-container {
      font-family: $font-family-primary;
      background: #fff;
      border-top: solid .1rem $color-greyFour;
      border-bottom: solid .1rem $color-greyFour;

    }
    img {
      float: left;
    }
    .name {
      display: inline-block;
      margin: 0 1rem .5rem 0rem;
      color: #000;
    }
  .username {
      display: inline-block;
      margin: 0 1rem .5rem 0rem;;
    }
    a {
      text-decoration: none;
      color:$color-greyThree;
    }
    .screech-body {
      margin: .1rem 0 0 .5rem;
      color: #000;
    }
    .fa {
      margin-left: 3rem;
      margin-top: .6rem;
    }
}
