.primary-header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: solid .1rem $color-greyTwo;
  background: $color-fifth;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: $color-greyTwo;

  }
  .grackle-img {
      width: 50px;
      margin-top: 2rem;
      background-color: $color-primary;
      border-radius: 1rem;
  }
}
