//blues
$color-primary: #1dcaff;
$color-secondary: #c0deed;
$color-third: #00aced;
$color-fourth: #0084b4;
$color-fifth: #fff;
$color-sixth: #FCFBC0;

//greys
$color-greyOne: #292f33;
$color-greyTwo: #66757f;
$color-greyThree: #8899a6;
$color-greyFour: #ccd6dd;
$color-greyFive: #e1e8ed;
$color-greySix: #f5f8fa;

//fonts
$font-family-primary: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
